<h1>Editing draft rank</h1>

<%= render "form", draft_rank: @draft_rank %>

<br>

<div>
  <%= link_to "Show this draft rank", @draft_rank %> |
  <%= link_to "Back to draft ranks", draft_ranks_path %>
</div>
