<div id="<%= dom_id draft_result %>">
  <p>
    <strong>Game:</strong>
    <%= draft_result.game_id %>
  </p>

  <p>
    <strong>School:</strong>
    <%= draft_result.school_id %>
  </p>

  <p>
    <strong>Player:</strong>
    <%= draft_result.player %>
  </p>

</div>
