<h1>Editing draft result</h1>

<%= render "form", draft_result: @draft_result %>

<br>

<div>
  <%= link_to "Show this draft result", @draft_result %> |
  <%= link_to "Back to draft results", draft_results_path %>
</div>
